<main id="content" role="main" class="" style="">
  <div>
    <table class="table table-striped table-hover">
      <thead class="" style="background-color:#82D8D5; color:#fff;">
        <tr>
          <th scope="col">#</th>
          <th scope="col">名前</th>
          <th scope="col">住所</th>
          <th scope="col">電話番号</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">お車代</th>
          <th scope="col">出欠</th>
          <th scope="col">アレルギー</th>
          <th scope="col">金額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>西園寺連太</td>
          <td>大阪市北区同心2-1-28 S-GLANZ</td>
          <td>0123-456-789</td>
          <td>Mark@gmail.com</td>
          <td>🚩</td>
          <td>○</td>
          <td>卵・そば</td>
          <td>30,000円</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark gabriel porl</td>
          <td>大阪市北区同心2-1-28 S-GLANZ</td>
          <td>0123-456-789</td>
          <td>Mark@gmail.com</td>
          <td>🚩</td>
          <td>○</td>
          <td>卵・そば</td>
          <td>30,000円</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark</td>
          <td>大阪市北区同心2-1-28 S-GLANZ</td>
          <td>0123-456-789</td>
          <td>Mark@gmail.com</td>
          <td>🚩</td>
          <td>○</td>
          <td>卵・そば・大豆・肉</td>
          <td>30,000円</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
