<h1>SHUKUFUKU</h1>

<p>
  メールアドレスの認証はまだ完了していません。<br>

  以下のリンクにアクセスしていただくと、認証が完了します。<br>

  3日以内にクリックして、メールアドレスの認証を完了させてください。<br>
  ※3日を過ぎた場合は無効になりますので、ご注意ください。<br>

  ※すべてのSHUKUFUKU会員の方に、メールアドレスの認証をお願いしております。ご協力のほど、宜しくお願い致します。<br>

</p>

<%= link_to "アカウントを有効化する", edit_account_activation_url(@user.activation_token, email: @user.email) %>
