<h1>デザインの種類</h1>

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <%= link_to message_cards_path(@message_card, :message_card => {msg_design_id: 1}), method: "POST" do %>
        <div class="step-card p-4 m-6 mx-auto">
          <img src="/step_icon/1.png" width="" class="w-50 mt-4">
          <p class="mt-4">テンプレ１</p>
        </div>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to message_cards_path(@message_card, :message_card => {msg_design_id: 2}), method: "POST" do %>
        <div class="step-card p-4 m-6 mx-auto">
          <img src="/step_icon/2.png" width="" class="w-50 mt-4">
          <p class="mt-4">テンプレ２</p>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <%= link_to message_cards_path(@message_card, :message_card => {msg_design_id: 3}), method: "POST" do %>
        <div class="step-card p-4 m-6 mx-auto">
          <img src="/step_icon/3.png" width="" class="w-50 mt-4">
          <p class="mt-4">テンプレ３</p>
        </div>
        <% end %>
      </div>
      <div class="col-6">
        <%= link_to message_cards_path(@message_card, :message_card => {msg_design_id: 4}), method: "POST" do %>
        <div class="step-card p-4 m-6 mx-auto">
          <img src="/step_icon/4.png" width="" class="w-50 mt-4">
          <p class="mt-4">テンプレ４</p>
        </div>
        <% end %>
      </div>
    </div>
    <div>
    </div>
  </div>
</main>
