<%= form_for(:session, url: login_path) do |f| %>

<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">

  <!-- Input -->
    <div class="text-dark mt-9">
      <h4 class="mb-4">
        登録メールアドレスに本登録のURLを送信しました。<br>
        現在仮登録ですので本登録を済ませください。
      </h4>
      <h6 class="small">
        ※メールが届かない場合、迷惑メールに分類されているか、ドメイン指定受信が許可されていない場合があります。<br>
        その場合は「@○○○.com」のドメイン指定受信設定を行って下さい。
      </h6>
    </div>
  </div>
</main>
<% end %>
