
<!-- ========== MAIN ========== -->
<main id="content" role="main" class="" style="">
  <div class="container text-center">
    <div class="">
      <div class="text-center">
        <h2 class="mb-0" style="">デザインの種類</h2>
        <div class="mb-3 text-center" style=""><img src="/icon/bar.png" class="w-10"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= link_to invitation_path(@invitation, :invitation => {design_id: 1}), method: "PATCH" do %>
        <div class="m-4 mx-auto">
          <img src="/default.jpg" width="" class="w-80 mt-4">
          <p class="mt-4">テンプレ１</p>
        </div>
        <% end %>
      </div>
      <div class="col-3">
        <%= link_to invitation_path(@invitation, :invitation => {design_id: 2}), method: "PATCH" do %>
        <div class="m-4 mx-auto">
          <img src="/default.jpg" width="" class="w-80 mt-4">
          <p class="mt-4">テンプレ２</p>
        </div>
        <% end %>
      </div>
    <!-- </div>
    <div class="row"> -->
      <div class="col-3">
        <%= link_to invitation_path(@invitation, :invitation => {design_id: 3}), method: "PATCH" do %>
        <div class="m-4 mx-auto">
          <img src="/default.jpg" width="" class="w-80 mt-4">
          <p class="mt-4">テンプレ３</p>
        </div>
        <% end %>
      </div>
      <div class="col-3">
        <%= link_to invitation_path(@invitation, :invitation => {design_id: 4}), method: "PATCH" do %>
        <div class="m-4 mx-auto">
          <img src="/default.jpg" width="" class="w-80 mt-4">
          <p class="mt-4">テンプレ４</p>
        </div>
        <% end %>
      </div>
    </div>
    <div>
    </div>
  </div>
</main>
