<h1>デザインの種類</h1>
<%= link_to "image1", invitation_path(id: @invitation, design_id: 1), method: "PATCH" %>
<%= link_to "image2", edit_invitation_path(id: @invitation, design_id: 2) %>
<%= link_to "image3", edit_invitation_path(id: @invitation, design_id: 3) %>
<%= link_to "image4", edit_invitation_path(id: @invitation, design_id: 4) %>
