<!-- ========== MAIN ========== -->



<main id="content" role="main" style="">
  <div class="bg-top fv-size">
    <div class="top-fv" style="position:relative;">
      <img src="/bg/top-firstview-web.png">
      <div class="top-header w-100" style="position:absolute; top:3%;">
        <div class="row">
          <div class="col-sm-4">
            <div class="">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="logo w-30 mx-auto">
              <img src="/logo/logo.png" class="">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="type text-center">
              <!-- <a href="#" class="btn btn-lg btn-outline-primary text-gray d-block" style="margin:auto 5% auto 45%;">新郎新婦・幹事様</a>
              <a href="#" class="btn btn-lg btn-outline-primary d-block" style="margin:3% 5% auto 45%;">ご友人・参列者様</a> -->
              <%= link_to "無料で招待状をつくる", signup_path, class:"btn btn-sm btn-outline-primary pt-1 pb-1" %>
              <%= link_to "ログイン", login_path, class:"btn btn-sm btn-outline-primary pt-1 pb-1 mr-0" %>
            </div>
          </div>
        </div>
      </div>
    <!-- <div class="container text-center">
      <div class="row">
        <div class="top-title text-left w-45 align-middle my-auto" style="">
            <h1 class="text-primary font-b font-top">SHUKUFUKU</h1>
            <h3 class="text-primary">
              世界初の「祝い」を目的とした<br>
              クラウドファンディング
            </h3>
            <ul class="sns-icons mt-4" style="margin-left:-10%;">
              <li><img src="/icon/instagram.png" class="w-5"></li>
              <li><img src="/icon/facebook.png" class="w-5 my-4"></li>
              <li><img src="/icon/twitter.png" class="w-5"></li>
            </ul>

        </div>
        <div class="top-img w-50">
          <img src="/top/top-fv.png">
        </div>
      </div>
    </div> -->
      <!-- <div class="d-block" style=""> -->
        <ul class="sns-icons w-50" style="position:absolute; bottom:0%; left:5%;">
          <li><img src="/icon/instagram.png" class="w-5"></li>
          <li><img src="/icon/facebook.png" class="w-5 my-4"></li>
          <li><img src="/icon/twitter.png" class="w-5"></li>
        </ul>
      <!-- </div> -->
    </div>
  </div>
  <div class="bg-suggestion text-center">
    <!-- <div class="text-center"> -->
      <h3 class="text-white mb-9">
        ご祝儀袋準備して、ピン札探し回って、当日に大金持ち歩いて<br>
        <span class="" style="font-size:2.5rem">そんな堅苦しい風習、やめちゃいませんか。</span>
      </h3>
    <!-- </div> -->
    <img src="/top/suggestion-human.png" class="w-10">
  </div>

  <div class="bg-point text-center">
    <!-- <div class="text-center"> -->
      <h3 class="text-gray mb-9">
        「祝い」をみんなで作る結婚式クラウドファンディング<span class="text-primary" style="">SHUKUFUKU</span>なら、<br>
        面倒な風習は無くして、誰もが笑顔な結婚式を作れます。
      </h3>
    <!-- </div> -->
    <img src="/top/point-cheer.png" class="w-30">
  </div>

  <div class="merit text-center w-80" style="margin-left:10%;">
    <!-- <div class="container"> -->
    <div class="box26">
      <span class="box-title">電子決済のメリット</span>
      <div class="in_box26 m-4 mt-8">
        <div class="row" style="">
          <div class="merit-text w-50 text-left align-middle my-auto">
            <img src="/top/merit-1-web.png" class="w-80" style="margin-left:10%;">
            <h2 class="text-gray mt-4 w-80" style="font-size:24px;margin-left:10%;">
              事前にご祝儀が受け取れるので、当日の金銭管理の心配もいりません「お金がないから」といってやりたい式を諦めてしまうことも無くなります。
            </h2>
          </div>
          <div class="merit-img w-40" style="margin:auto 5%;">
            <img src="/top/merit-img-1.png">
          </div>
        </div>

        <div class="row mt-9 mb-9" style="">
          <div class="merit-text w-50 text-left align-middle my-auto">
            <img src="/top/merit-2-web.png" class="w-80" style="margin-left:10%;">
            <h2 class="text-gray mt-4 w-80" style="font-size:24px;margin-left:10%;">
              ご祝儀や参列者名簿の電子化により、主催者側の業務が軽減されます。事前に名簿を作る時間や、ご祝儀を受け取る時間が短縮されるので受付がスムーズになります。
            </h2>
          </div>
          <div class="merit-img w-40" style="margin:auto 5%;">
            <img src="/top/merit-img-2.png">
          </div>
        </div>

        <div class="row" style="">
          <div class="merit-text w-50 text-left align-middle my-auto">
            <img src="/top/merit-3-web.png" class="w-80" style="margin-left:10%;">
            <h2 class="text-gray mt-4 w-80" style="font-size:24px;margin-left:10%;">
              クレジットカードなどの電子決済なので、急な出費や友人の結婚の時期が被ってしまった時でも安心です。お金の管理もしやすい他、当日に大金を持ち歩く心配やご祝儀袋を準備する手前もなくなります。
            </h2>
          </div>
          <div class="merit-img w-40" style="margin:auto 5%;">
            <img src="/top/merit-img-3.png">
          </div>
        </div>
      </div>
    </div>
    <!--  <img src="/bg/bg-merit-web.png" class="bg-merit-img" style="">
       <div class="row" style="position:absolute; top:6%;">
        <div class="merit-text w-50 text-left align-middle my-auto">
          <img src="/top/merit-1-web.png" class="w-60">
          <h2 class="text-gray mt-9 w-80">
            事前にご祝儀が受け取れるので、当日の金銭管理の心配もいりません「お金がないから」といってやりたい式を諦めてしまうことも無くなります。
          </h2>
        </div>
        <div class="merit-img w-40" style="margin:auto 5%;">
          <img src="/top/merit-img-1.png">
        </div>
      </div>

      <div class="row mt-9 mb-9" style="position:absolute; top:34%;">
        <div class="merit-text w-50 text-left align-middle my-auto">
          <img src="/top/merit-2-web.png" class="w-60">
          <h2 class="text-gray mt-9 w-80">
            ご祝儀や参列者名簿の電子化により、主催者側の業務が軽減されます。事前に名簿を作る時間や、ご祝儀を受け取る時間が短縮されるので受付がスムーズになります。
          </h2>
        </div>
        <div class="merit-img w-40" style="margin:auto 5%;">
          <img src="/top/merit-img-2.png">
        </div>
      </div>

      <div class="row" style="position:absolute; top:65%;">
        <div class="merit-text w-50 text-left align-middle my-auto">
          <img src="/top/merit-3-web.png" class="w-60">
          <h2 class="text-gray mt-9 w-80">
            クレジットカードなどの電子決済なので、急な出費や友人の結婚の時期が被ってしまった時でも安心です。お金の管理もしやすい他、当日に大金を持ち歩く心配やご祝儀袋を準備する手前もなくなります。
          </h2>
        </div>
        <div class="merit-img w-40" style="margin:auto 5%;">
          <img src="/top/merit-img-3.png">
        </div>
      </div> -->
    <!-- </div> -->
  </div>

  <div class="bg-service text-center">
    <h2 class="mb-9">他にも、3つの機能が!</h2>
    <!-- <div class="container"> -->
      <div class="row" style="">
        <div class="col-sm-4">
          <div class="box">
            <img src="/top/service-1.png" class="w-20">
            <h3 class="mt-4">招待状作成</h3>
            <p>好みに合わせてデザインが選べる電子招待状が作成できます。作った招待状はLINEやメールなどで送ることができ、URLを使ってSNS投稿も可能なので、たくさんの友人にご結婚の報告が簡単にできます。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box">
            <img src="/top/service-2.png" class="w-20">
            <h3 class="mt-4">出席者リスト</h3>
            <p>今まではExcelなどで作成されていましたが、SHUKUFUKUならゲストの出欠確認、アレルギーなどを一気に管理できます。当日の出席者リストも電子化で簡単に作成可能です。</p>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="box">
            <img src="/top/service-3.png" class="w-20">
            <h3 class="mt-4">フォトアルバム</h3>
            <p>SHUKUFUKUではゲストが出席した結婚式の写真を、アルバムに投稿し、ゲストや主催者の方々とのシェアや写真の保存が可能です。思い出の写真を共有しませんか?</p>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>

  <div class="d-block mx-auto text-center">
    <button class="btn btn-lg btn-outline-primary">利用してみる</button>
  </div>
</main>
