// Place all the styles related to the Invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.preview{
  p{
    margin-bottom: 0 !important;
  }
  .w-150{
    width: 150%;
    margin-left: -25%;
  }
  .w-47{
    width: 47%;
  }
  .text-primary{
    color: #7B3341 !important;
  }
  .text-title{
    color: #C47863 !important;
  }
  .groom{
    .name::before{
      content: 'groom';
      position: absolute;
      top: 0;
      left:0;
    }
    .name::after{
      content: '';
      background-image: url('../../preview/under_groom_name.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      position: absolute;
      top: 30px;
      left:0;
      display: inline-block;/*忘れずに！*/
      width: 100px;/*画像の幅*/
      height: 20px;/*画像の高さ*/
    }
  }
  .bride{
    .name::before{
      content: 'bride';
      position: absolute;
      top: 0;
      right:0;
    }
    .name::after{
      content: '';
      background-image: url('../../preview/under_bride_name.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      position: absolute;
      top: 30px;
      right:0;
      display: inline-block;/*忘れずに！*/
      width: 100px;/*画像の幅*/
      height: 20px;/*画像の高さ*/
    }
  }
  .party{
    .title{
    position: relative;
    display: inline-block;
    }
    .title::before{
      content: '';
      background-image: url('../../preview/right_party_title.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      position: absolute;
      top: 0px;
      left:100px;
      display: inline-block;/*忘れずに！*/
      width: 50px;/*画像の幅*/
      height: 50px;/*画像の高さ*/
    }
    .title::after{
      content: '';
      background-image: url('../../preview/left_party_title.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
      position: absolute;
      top: 0px;
      right:100px;
      display: inline-block;/*忘れずに！*/
      width: 50px;/*画像の幅*/
      height: 50px;/*画像の高さ*/
    }
    .subtitle{
      background-image: url(../../preview/flame_place.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position:center;
      display: inline-block;
    }
    .subtitle::after{
      content: '会場';
      font-size: .5rem;
      display: block;
    }
  }
  table, tbody, tr, td{
    border-color: transparent !important;
  }
  .bg-info{
    color: #fff !important;
    background-color: #7B3341 !important;
  }
  .text-wc{
  }
  .text-wc::before{
    content: 'wedding ceremony';
    font-size: 2rem;
    display:block;
  }
  .text-wr{
  }
  .text-wr::before{
    content: 'wedding recepution';
    font-size: 2rem;
    display:block;
  }
  .bg-form-img{
    background-image: url(../../default.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }
  .form{
    .bg-form{
      background-color: rgba(251,232,221,.9);
      background-position:center;
      position: relative;
      .form-control{
        color: #fff;
        background-color: #C47863;
        opacity: .8;
      }
      input::placeholder {
        color: #fff;
      }

      /* IE */
      input:-ms-input-placeholder {
        color: #fff;
      }

      /* Edge */
      input::-ms-input-placeholder {
        color: #fff;
      }
      textarea::placeholder {
        color: #fff;
      }

      /* IE */
      textarea:-ms-input-placeholder {
        color: #fff;
      }

      /* Edge */
      textarea::-ms-input-placeholder {
        color: #fff;
      }
    }
    .mt-form{
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -moz-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }
    .title{
    display: block;
    }
    .title::before{
      display: none;
    }
    .title::after{
      background-image: none;
      content: '出欠フォーム';
      font-size: .5rem;
      position:relative;
      top: auto;
      right: auto;
      height: auto;
      width: auto;
      display:block;
    }
    /*----- WEB上のラジオボタン装飾css --------*/
    .select-must input {
      display: none;
    }
    .select-must input[type="radio"]:checked.windows + label {
      color: #7B3341;
      // border: 2px solid #3275bc;
      border: none;
      background-color: transparent;
      background-image: url(../../preview/bg_answer.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position:50% 50%;
      padding:20% 0% 10%;
    }
    .select-must input[type="radio"]:checked.osx + label {
      color: #7B3341;
      border: none;
      background-color: transparent;
      background-image: url(../../preview/bg_answer.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position:50% 50%;
      padding:20% 0 10%;
    }
    .select-must label {
      color: #000;
      // border: 2px solid #3275bc;
      border: none;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin-bottom: 0px;
      padding:20% 0 10%;
    }
    .select-must label:hover {
      color: #aaa;
      cursor: pointer;
      width: 100%;
    }
  }
}

#couple_name {
  .u-form{
    input{
      color: #606060;
      background-color:white;
      border-color: #82D8D5;
      border-style:solid;
    }
  }
}
