// Place all the styles related to the Root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  li{
    margin-bottom: 3%;
    text-align: left;
    a{
      color: #fff;
    }
    a:hover{
      color: #606060;
    }
  }
  .logo{
    border-right: 3px solid #fff;
  }
}

.bg-top{
  margin-bottom: 10%;
}

.text-transparent{
  color: transparent !important;
}
@media (min-width: 720px){
.alert {
    margin-top: 0px;
  }
}
@media (max-width: 500px) {
  .xs-down-hidden{
    display: none !important;
  }
}
@media (min-width: 501px) {
  .xs-up-hidden{
    display: none !important;
  }
}
@media (max-width: 576px) {
  .sm-down-hidden{
    display: none !important;
  }
}
@media (min-width: 577px) {
  .sm-up-hidden{
    display: none !important;
  }
}
@media (max-width: 768px) {
  .md-down-hidden{
    display: none !important;
  }
}
@media (min-width: 769px) {
  .md-up-hidden{
    display: none !important;
  }
}
