// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signup {
  .u-form{
    input{
    color: #82D8D5;
    background-color:white;
    border-color: #82D8D5;
    border-style:solid;
    }
  }
}
