<footer class="mt-9">
  <main class="bg-primary p-6">
    <div class="container text-center">
      <h4 class="text-white" style="margin:auto;">お問い合わせはこちら</h4>
      <div class="footer-border mt-2 mb-4"></div>
      <div class="row text-white mb-9">
        <a href="#" class="text-white col-1">TOP</a>
        <a href="#" class="text-white col-2">利用規約</a>
        <a href="#" class="text-white col-3 p-0">プライバシーポリシー</a>
        <a href="#" class="text-white col-4">特定商取引法に基づく表記</a>
        <a href="#" class="text-white col-2">会社情報</a>
      </div>
      <h5 class="text-white text-light font-weight-light">2018@Shukufuku.inc</h5>
    </div>
  </main>
</footer>
